<p id="notice"><%= notice %></p>

<p>
  <strong>Id name:</strong>
  <%= @admin.id_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @admin.shop_id %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
