<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @shop.brand_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @shop.region_id %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @shop.addr %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @shop.lng %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @shop.lat %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
